/** Common mobile (screen XS, SM) styles **/
@media (max-width: $screen-xs-max) {
  .container .content {
    margin-top: 20px;
  }

  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-links > li > a {
    padding: 10px;
    font-size: 12px;
    margin-right: 3px;

    .badge {
      display: none;
    }
  }

  .referenced-users {
    margin-right: 0;
  }

  .issues-details-filters:not(.filtered-search-block),
  .dash-projects-filters,
  .check-all-holder {
    display: none;
  }

  .rss-btn {
    display: none;
  }

  .project-home-links {
    display: none;
  }

  .project-home-panel {
    padding-left: 0 !important;

    .project-avatar {
      display: block;
    }

    .project-repo-buttons,
    .git-clone-holder {
      display: none;
    }

    // Display Star and Fork buttons without counters on mobile.
    .project-repo-buttons {
      display: block;

      .count-buttons .btn {
        margin: 0 10px;
      }

      .count-buttons .count-with-arrow {
        display: none;
      }
    }
  }

  .project-stats {
    display: none;
  }

  .group-buttons {
    display: none;
  }

  .container .title {
    padding-left: 15px !important;
  }

  .nav-links,
  .nav-links {
    li a {
      font-size: 14px;
      padding: 19px 10px;
    }
  }

  .activity-filter-block {
    display: none;
  }

  .projects-search-form {
    .btn {
      display: none;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .issues-filters {
    .milestone-filter {
      display: none;
    }
  }

  .page-title {
    .note-created-ago,
    .new-issue-link {
      display: none;
    }
  }

  .issue-edited-ago,
  .note_edited_ago {
    display: none;
  }

  aside:not(.right-sidebar) {
    display: none;
  }

  .show-aside {
    display: block !important;
  }
}

.show-aside {
  display: none;
  position: fixed;
  right: 0;
  top: 30%;
  padding: 5px 15px;
  background: $show-aside-bg;
  font-size: 20px;
  color: $show-aside-color;
  z-index: 100;
  box-shadow: 0 1px 2px $show-aside-shadow;
}
